{% extends 'base.html.twig' %}

{% block title %}OrderManager{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ include('order/templates/updateTtn.template.twig') }}
        </div>
    </div>
{% endblock %}

